@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: lightblue;
    margin-left: 100px;
}
img{
    width: 915px;
    height: 100px;
    display: flex;
    justify-content: right;
    margin-right: -5000px;
    margin-left: 100px;
    min-height: 100vh;
}
.container{
    width: 420px;
    background: transparent;
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}
.row h1{
    font-size: 36px;
    text-align: center;
}

.row .input-box{
    width: 100%;
    height: 50px;
    margin: 50px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-color: #333;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 15px;

}

.input-box input::placeholder{
    color: black;

}
.row .forgot{
    display: flex;
    margin-bottom: 50px;
    margin-left: 200px;
    font-size: 14px;
}
.row a{
    color: black;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}

.row .agree{
    display: flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.agree label input{
    accent-color: black;
    margin-right: 3px;
}

.agree a{
    color: black;
    text-decoration: none;
}

.agree a:hover{
    text-decoration: underline;
}
.row .register{
    display: flex;
    font-size: 14.5px;
    margin-left: 10px;
}
.register a{
    color: black;
    text-decoration: none;
}
.register a:hover{
    text-decoration: underline;
}

.row .btn{
    width: 100%;
    height: 45px;
    background: blue;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.btn:hover{
    background-color: lightblue;
    transition-duration: 300ms;
}
@media (max-width: 1440px) {
    img {
        display: flex;
        justify-content: right;
        height:200px;
    }
}

@media (max-width: 768px) {
    img {
        display: none;
    }

    .container {
        justify-content: center;
        display: flex;
    }

    .body {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 50px;
    }
}


